@layer components {
  .ram-modal-overlay {
    @apply fixed inset-0 z-50 flex items-center justify-center;
  }

  /* Base Modal Content */
  .ram-modal-content {
    @apply relative overflow-y-auto rounded-lg shadow-xl;
  }

  /* Size Variants */
  .ram-modal-size-sm {
    max-width: 50dvw;
    max-height: 30dvh;
  }
  .ram-modal-size-md {
    max-width: 70dvw;
    max-height: 50dvh;
  }
  .ram-modal-size-md-f-h {
    max-width: 70dvw;
    max-height: 95dvh;
  }
  .ram-modal-size-full {
    @apply min-w-full max-w-full min-h-full max-h-full;
  }
  .ram-modal-size-responsive {
    @apply w-full h-full max-w-full max-h-full md:max-w-[50dvw] md:max-h-[90dvh];
  }

  /* Header */
  .ram-modal-header {
    @apply sticky top-0 flex justify-between items-center p-4;
  }

  /* Header Title */
  .ram-modal-title {
    @apply text-2xl text-center font-bold;
  }

  /* Close Button */
  .ram-modal-close-button {
    @apply text-2xl right-90;
  }

  /* Body Content Wrapper */
  .ram-modal-body {
    @apply flex flex-col gap-4 mt-4 p-6;
  }

  .ram-animationCompleted {
    @apply bg-black opacity-50;
  }
  .ram-animationNotComplete {
    @apply bg-transparent;
  }
}
